services:
  postgres:
    image: postgres:16
    container_name: my_food
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: my_food
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
